/source-checker-gui/*.iml
/source-checker-cli/source-checker-cli.iml
/source-checker-config/source-checker-config.iml
/source-checker-config/source-checker-config.iml
/source-checker-core/source-checker-core.iml
/source-checker-ezl10n-adapter/source-checker-ezl10n-adapter.iml
/source-checker-config/source-checker-config.iml
/source-checker-config/source-checker-config.iml
/source-checker-config/target
/source-checker-config/source-checker-config.iml
/source-checker-core/target
/source-checker-gui/target
*.idea
*.project
*.settings
*.classpath