/source-scoring-gui/*.iml
/source-scoring-cli/source-scoring-cli.iml
/source-scoring-config/source-scoring-config.iml
/source-scoring-config/source-scoring-config.iml
/source-scoring-core/source-scoring-core.iml
/source-scoring-ezl10n-adapter/source-scoring-ezl10n-adapter.iml
/source-scoring-config/source-scoring-config.iml
/source-scoring-config/source-scoring-config.iml
/source-scoring-config/target
/source-scoring-config/source-scoring-config.iml
/source-scoring-core/target
/source-scoring-gui/target
*.idea
